@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins, Arial, sans-serif;
    margin: 0;
}

.logoBar {
    background-color: #fe3c72;
    width: 100%;
    margin: 0px;
    margin-top: -1.2em;
    padding-bottom: 2em;
    height: 3.4em;
    z-index: 9999;
    position: relative;
    align-items: center;
}

.main {
    padding-top: 6.8em;
}

#text {
    margin-left: 1em;
    margin-right: 1em;
}

#sidenav {
    width: 250px;
    background-color: #fd9eb9;
    z-index: 9999;
    padding-left: .5em;
}
#sidenav a {
    font-size: x-large;
}
#closeMenu {
    font-size: 3em;
    background-color: transparent;
    border-color: transparent;
    margin-left: 140px;
}

#closeMenu:hover {
    color: #fff;
}

.nav {
    background-color: #fd9eb9;
    width: 100%;
    font-size: 1.2em;
    z-index: 999;
    height: 3em;
    position: relative;
}

a img {
    height: 2em;
    margin-left: .5em;
}

.logoBar h3 {
    color: black;
    font-size: 2em;
}

header {
    width: 100vw;
    margin: 0px;
    margin-top: -1em;
    position: fixed;
    z-index: 99999;
}
.logoBar, .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    overflow: hidden;
  }

  .box {
    /* flex: 1 1 150px;  Stretching: */
    flex: 0 1 auto;
    margin: 5px;
    vertical-align: top;
  }
  .box h4 {
      margin: .2em;
  }

  a {
      text-decoration: none;
      color: #000;
      margin-bottom: 0;
  }

  .main a {
    text-decoration: none;
    color: #fd9eb9;
    margin-bottom: 0;
  }

  a:hover {
      color: #fe3c72;
  }

  .box a:hover {
      color: #fff;
  }

  #sidenav a:hover {
      color: #fff;
  }

  #donatebtn {
    padding: 1em;
    border-radius: 2em;
    border: .2em solid #fd9eb9;
    font-size: medium;
    background-color: #fff;
    width: 40vw;
  }

  #donatebtn:hover {
    border-color: #fe3c72;
    background-color: #fd9eb9;
  }

  @media only screen and (max-width: 940px) {
    #btnform {
        margin: auto auto;
        float: none;
        position: relative;
        width: 80vw;
    }
    #donatebtn {
        width: 100%;
    }
}